<section class="volunteer-cta-section p-t-80 p-b-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="volunteer-cta-wrap" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="content-wrap">
                        <div class="common-title text-start">
                            <h2>You can work with us if you want <span>😍</span></h2>
                        </div>
                        <div class="text">
                            <p>We all work as friends, and if we all work together.</p>
                        </div>
                        <div class="blog-btn">
                            <a class='e-primary-btn has-icon' href='/be-volunteer'>
                                Become a Volunteer
                                <span class="icon-wrap">
                                    <span class="icon"><i class="fa-regular fa-arrow-right"></i><i class="fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="thumb-wrap">
                        <img src="assets/img/thumbs/thumb-82.webp" alt="thumb-82">
                    </div>
                    <div class="c-shape-1">
                        <img src="assets/img/shapes/shape-33.webp" alt="shape-33">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
