

<section class="services-details-section p-t-120 p-b-250 p-t-lg-80 p-t-md-80 p-t-xs-60">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="details-layout-wrap">
          <div class="details-content aos-init aos-animate" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
            <div class="blog-card-5 m-b-40">
              <div class="thumb">
                <a href="blog-grid.html"><img alt="thumb-1" src="/assets/img/thumbs/thumb-148.webp"></a>
              </div>
              <div class="content">
                <div class="blog-info">
                  <div class="publisher-info">
                    <img alt="thumb" src="/assets/img/thumbs/thumb-143.webp">
                    <p>By Rebecca</p>
                  </div>
                  <div class="date">
                    <i class="fa-light fa-calendar-days"></i>
                    <p>12th Sep, 2024</p>
                  </div>
                  <div class="comment">
                    <i class="fa-light fa-comments"></i>
                    <p>02 Comments</p>
                  </div>
                  <div class="view">
                    <i class="fa-light fa-eye"></i>
                    <p>630 Views</p>
                  </div>
                </div>
                <div class="title">
                  <h3><a href="blog-grid.html">Reforestation and Tree Planting Campaign 2025</a></h3>
                </div>
                <div class="text">
                  <p class="m-b-15">
                    The implant fixture is first placed, so that it ilikely to then a dental
                    prosthetic is added. Readable and Packages editors now use Lorem Ipsum as
                    their default model textlayout.
                  </p>
                  <p>
                    Ratione doloribus optio minus cum ab. Nostrum rerum minus sapiente eveniet
                    fuga quos tenetur &nbsp;Bicycle rights taxidermy knausgaard, <b>3 wolf moon
                      schlitz kombucha freegan</b> ugh ethical kogi Déjà en recherche nouvelle
                    inspiration pour la prochaine collection, qui sera toujours inspirée de ses
                    origines suisse.
                  </p>
                </div>
              </div>
            </div>
            <div class="details-title m-b-15">
              <h2>How To Improvement</h2>
            </div>
            <div class="detail-text m-b-25">
              <p>
                Readable and Packages editors now use Lorem Ipsum as their default model textlayout.
                The point of using the some is that it has a more-or-less normal distribution of
                letters as opposed to using.
              </p>
            </div>
            <div class="list-wrapper m-b-35">
              <ul class="list-wrap">
                <li>
                  <div class="icon">
                    <i class="fa-solid fa-check"></i>
                  </div>
                  <p>Nature ecologically aiming to optimize.</p>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa-solid fa-check"></i>
                  </div>
                  <p>It’s reliable and immune inspirée de ses</p>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa-solid fa-check"></i>
                  </div>
                  <p>Focus on your important to scale</p>
                </li>
              </ul>
              <ul class="list-wrap">
                <li>
                  <div class="icon">
                    <i class="fa-solid fa-check"></i>
                  </div>
                  <p>In the long run, solar power aiming to optimize.</p>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa-solid fa-check"></i>
                  </div>
                  <p>Dental prosthetic is added a leader</p>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa-solid fa-check"></i>
                  </div>
                  <p>Ecology is the study of seeking</p>
                </li>
              </ul>
            </div>
            <div class="gallery-slider-active m-b-50">
              <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1904px, 0px, 0px); transition-delay: 0ms;">



                  <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width: 922px; margin-right: 30px;">
                    <div class="banner-slide-wrap">
                      <div class="thumb">
                        <img alt="thumb" src="/assets/img/thumbs/thumb-109.webp">
                        <a class="play-btn" data-fancybox="" href="https://www.youtube.com/watch?v=fLeJJPxua3E&amp;ab_channel=Motiversity">Play</a>
                      </div>
                    </div>
                  </div><div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width: 922px; margin-right: 30px;">
                    <div class="banner-slide-wrap">
                      <div class="thumb">
                        <img alt="thumb" src="/assets/img/thumbs/thumb-109.webp">
                        <a class="play-btn" data-fancybox="" href="https://www.youtube.com/watch?v=fLeJJPxua3E&amp;ab_channel=Motiversity">Play</a>
                      </div>
                    </div>
                  </div><div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width: 922px; margin-right: 30px;">
                    <div class="banner-slide-wrap">
                      <div class="thumb">
                        <img alt="thumb" src="/assets/img/thumbs/thumb-109.webp">
                        <a class="play-btn" data-fancybox="" href="https://www.youtube.com/watch?v=fLeJJPxua3E&amp;ab_channel=Motiversity">Play</a>
                      </div>
                    </div>
                  </div></div>
              </div>
              <div class="gallery-pagination-wrap">
                <div class="gallery-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
              </div>
            </div>
            <div class="testimonial-wrap m-b-60">
              <div class="icon"><img alt="icon" src="/assets/img/icons/icon-17.svg"></div>
              <p class="review">
                Readable and Packages editors now use Lorem Ipsum as their default model textlayout.
                The point of using the some is that it has a more-or-less normal distribution of
                letters as opposed to using.
              </p>
              <div class="author">
                <h3>Bm Ashik (Designer)</h3>
                <p>UX/UI Designer</p>
              </div>
            </div>
            <div class="details-title m-b-15">
              <h2>Activities &amp; Features</h2>
            </div>
            <div class="detail-text m-b-25">
              <p>
                Readable and Packages editors now use Lorem Ipsum as their default model textlayout.
                The point of using the some is that it has a more-or-less normal distribution of
                letters as opposed to using.
              </p>
            </div>
            <div class="detail-thumb-wrap">
              <img alt="thumb" src="/assets/img/thumbs/thumb-150.webp">
              <img alt="thumb" src="/assets/img/thumbs/thumb-149.webp">
              <img alt="thumb" src="/assets/img/thumbs/thumb-151.webp">
            </div>
            <div class="list-wrapper m-b-35">
              <ul class="list-wrap">
                <li>
                  <div class="icon">
                    <i class="fa-solid fa-check"></i>
                  </div>
                  <p>
                    That it ilikely to then a dental prosthetic is added then dental recherche
                    de nouvelle inspiration.
                  </p>
                </li>
                <li>
                  <div class="icon">
                    <i class="fa-solid fa-check"></i>
                  </div>
                  <p>
                    Whether you’re an entrepreneur seeking to scale your venture, a leader
                    aiming to optimize.
                  </p>
                </li>
              </ul>
            </div>
            <div class="divider-2"></div>
            <div class="blog-tags">
              <div class="tag-wrap">
                <p>Tags:</p>
                <div class="tags">
                  <button>Forest</button>
                  <button>Pollution</button>
                  <button>Plantation</button>
                </div>
              </div>
              <div class="socials">
                <div class="social-links">
                  <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://twitter.com/"><i class="fab fa-x-twitter"></i></a>
                  <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                  <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
            <div class="comment-section">
              <div class="comments m-b-50">
                <div class="details-title m-b-50">
                  <h2>Comments (02)</h2>
                </div>
                <div class="comment-wrap m-b-40">
                  <div class="thumb">
                    <img alt="thumb" src="/assets/img/thumbs/thumb-125.webp">
                  </div>
                  <div class="info">
                    <div class="name">
                      <p>Abraham John</p>
                    </div>
                    <div class="date">
                      <p>February 03, 2024</p>
                    </div>
                    <div class="text">
                      <p>
                        Readable and Packages editors now use Lorem Ipsum as their default
                        model textlayout. The point forusing the some !! ❤️
                      </p>
                    </div>
                    <a class="reply-btn">Reply</a>
                  </div>
                </div>
                <div class="comment-wrap">
                  <div class="thumb">
                    <img alt="thumb" src="/assets/img/thumbs/thumb-126.webp">
                  </div>
                  <div class="info">
                    <div class="name">
                      <p>BMW Group</p>
                    </div>
                    <div class="date">
                      <p>March 04, 2024</p>
                    </div>
                    <div class="text">
                      <p>
                        Normal distribution of letters as opposed to using. Ratione
                        doloribus optio minus rerum minus sapiente.
                      </p>
                    </div>
                    <a class="reply-btn">Reply</a>
                  </div>
                </div>
              </div>
              <div class="leave-comment m-b-60">
                <div class="details-title m-b-30">
                  <h2>Leave a Comment</h2>
                </div>
                <form action="#">
                  <div class="info-input m-b-20">
                    <input class="form-control" id="exampleFormControlInput1" placeholder="Jhon Abraham" type="text">
                    <input class="form-control" id="exampleFormControlInput2" placeholder="Email Address" type="email">
                  </div>
                  <div class="m-b-20">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Say Something..." rows="4"></textarea>
                  </div>
                  <button class="e-primary-btn has-icon" type="submit">
                    Send Message
                    <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span>
                  </button>
                </form>
              </div>
            </div>
          </div>


          <%- include('../../../components/blog-sidebar') %>


        </div>
      </div>
    </div>
  </div>
  <div class="d-shape-1"><img alt="shape-31" src="/assets/img/shapes/shape-31.webp"></div>
</section>