<div class="row justify-content-center text-center m-t-30">
    <div class="col-xl-6">
        <div class="project-pagination">
            <ul>
                <li class="active">
                    <a href="#">01</a>
                </li>
                <li>
                    <a href="#">02</a>
                </li>
                <li>
                    <a href="#">03</a>
                </li>
                <li class="icon">
                    <a href="#"><i class="fa-regular fa-arrow-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
