<%- include('../../../components/shared/breadcrumb', {
    title: data.title,
    crumbs: [
        {text: 'Home', href: '/'},
        {text: 'Gallery', href: '/gallery'},
        {text: data.title, href: '#'}
    ]
}) %>

<!-- gallery-details-section start -->
<section class="services-details-section p-t-120 p-b-120">
    <div class="container ">
        <%- include('../../../components/gallery/details/content', { data: data }) %>
    </div>
</section>
<!-- gallery-details-section end -->
