<!-- map-section start -->
<div class="map-section">
    <div class="contact-map" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <iframe src="https://maps.google.com/maps?q=New%20Garki%20International%20Market%2C%20Abuja%2C%20Nigeria&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!-- map-section end -->
