<!-- services-section start -->
<section class="services-section p-t-120">
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
            <div class="col-xl-4">
                <div class="service-card">
                    <div class="service-top">
                        <h4>Our Location</h4>
                        <i class="fa-light fa-location-dot"></i>
                    </div>
                    <div class="service-content">
                        <p>Suite 111/125 El-Rufai Block, New Garki International Market, Abuja, Nigeria.</p>
                    </div>
                    <div class="i-shape">
                        <i class="fa-light fa-location-dot"></i>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="service-card">
                    <div class="service-top">
                        <h4>Phone
                            Numbers</h4>
                        <i class="fa-light fa-phone-volume"></i>
                    </div>
                    <div class="service-content">
                        <p>+234 706 571 4529</p>
                    </div>
                    <div class="i-shape">
                        <i class="fa-light fa-phone-volume"></i>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="service-card">
                    <div class="service-top">
                        <h4>Email
                            Address</h4>
                        <i class="fa-light fa-envelope"></i>
                    </div>
                    <div class="service-content">
                        <p>info@cherivenfoundation.org</p>
                    </div>
                    <div class="i-shape">
                        <i class="fa-light fa-envelope"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services-section end -->
