<!-- about-us-section start -->
<section class="about-us-section m-t-120 m-t-md-100 m-t-xs-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="shape-wrapped-thumb-1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <img src="/images/NGO/WhatsApp Image 2026-02-06 at 6.32.11 PM.jpeg" alt="thumb" />
                    <div class="experience-shape-2">
                        <h3>
                            <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="29">0</span>+
                        </h3>
                        <p>Years of experience</p>
                    </div>
                    <div class="award-shape" style="background-image: url(assets/img/shapes/shape-18.webp); width: 300px;">
                        <img src="assets/img/icons/icon-6.svg" alt="icon" />
                        <p>2024-We are the best award winner</p>
                    </div>
                    <div class="box-shape">
                        <img src="assets/img/shapes/shape-14.webp" alt="box-shape" />
                    </div>
                    <div class="positioned-shape">
                        <div class="shape-wrapped-thumb-2">
                            <div class="video-thumb">
                                <img src="/images/NGO/WhatsApp Image 2026-02-06 at 6.31.43 PM.jpeg" alt="thumb" />
                                <a href="https://www.youtube.com/watch?v=fLeJJPxua3E&amp;ab_channel=Motiversity"
                                    data-fancybox="" class="video-play-btn">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                            <div class="vector-shape">
                                <img src="assets/img/shapes/shape-19.webp" alt="vector-shape" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-us-content px-xxl-5 px-3" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="400">
                    <div class="common-subtitle">
                        <img src="assets/img/icons/icon-2.svg" alt="icon-2" />
                        <span>About Us</span>
                    </div>
                    <div class="common-title text-start">
                        <h2>Committed to Improving Lives of the Vulnerable</h2>
                    </div>
                    <div class="c-tabs-wrapper">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="c-tab-1" data-bs-toggle="tab"
                                    data-bs-target="#c-tab-1-pane" type="button" role="tab" aria-controls="c-tab-1-pane"
                                    aria-selected="true">
                                    Who We Are
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="c-tab-2" data-bs-toggle="tab"
                                    data-bs-target="#c-tab-2-pane" type="button" role="tab" aria-controls="c-tab-2-pane"
                                    aria-selected="false">
                                    Our Mission
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="c-tab-3" data-bs-toggle="tab"
                                    data-bs-target="#c-tab-3-pane" type="button" role="tab" aria-controls="c-tab-3-pane"
                                    aria-selected="false">
                                    Our Vision
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="c-tab-1-pane" role="tabpanel"
                                aria-labelledby="c-tab-1" tabindex="0">
                                <div class="text">
                                    <p>
                                        Cheriven Empowerment Foundation is committed to improving the lives of the most vulnerable in society. Our organization works tirelessly to provide support and opportunities to those in need.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="c-tab-2-pane" role="tabpanel" aria-labelledby="c-tab-2"
                                tabindex="0">
                                <div class="text">
                                    <p>
                                        We work with communities and individuals to alleviate poverty among rural people, extend charity to the most vulnerable, and empower citizens striving to exercise their human rights and achieve sustainable livelihoods.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="c-tab-3-pane" role="tabpanel" aria-labelledby="c-tab-3"
                                tabindex="0">
                                <div class="text">
                                    <p>
                                        Faithful commitment to peace, social justice, and sustainable development; where all people live together with mutual respect and without recourse to any form of violence to resolve conflict.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="annual-donation-wrap">
                        <a class='e-primary-btn has-icon' href='/contact-us'>
                            Contact Us
                            <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i><i
                                        class="fa-regular fa-arrow-right"></i></span></span>
                        </a>
                        <!-- <div class="rating-wrap">
                            <div class="star-rating">
                                <img src="assets/img/logo/logo-8.svg" alt="logo" />
                                <div class="stars">
                                    <i class="fa-solid fa-star-sharp"></i>
                                    <i class="fa-solid fa-star-sharp"></i>
                                    <i class="fa-solid fa-star-sharp"></i>
                                    <i class="fa-solid fa-star-sharp"></i>
                                    <i class="fa-solid fa-star-sharp"></i>
                                </div>
                            </div>
                            <p>Excellent 4.9 out of 5</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-us-section end -->
