<div class="detail-sidebar aos-init aos-animate" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
    <div class="detail-sidebar-inner">
        <div class="s-widget-wrap m-b-30">
            <div class="w-title">
                <h3>Search Here</h3>
                <div class="bar-wrap">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                </div>
            </div>
            <div class="search-bar">
                <input placeholder="Search Type.." type="text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="categories">
                <button>Forest</button>
                <button>Cleaning</button>
                <button>Plantation</button>
            </div>
        </div>
        <div class="s-widget-wrap m-b-30">
            <div class="w-title">
                <h3>Recent Campaigns</h3>
                <div class="bar-wrap">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                </div>
            </div>
            <div class="recent-campaigns">
                <div class="campaign">
                    <div class="thumb">
                        <img alt="thumb" src="/assets/img/thumbs/thumb-121.webp">
                    </div>
                    <div>
                        <div class="date">
                            <p>Plantation- Jun 13, 2024</p>
                        </div>
                        <div class="name">
                            <h5>Sustainable Energy for All: Donation Matters</h5>
                        </div>
                    </div>
                </div>
                <div class="campaign">
                    <div class="thumb">
                        <img alt="thumb" src="/assets/img/thumbs/thumb-122.webp">
                    </div>
                    <div>
                        <div class="date">
                            <p>Forest- Jun 20, 2024</p>
                        </div>
                        <div class="name">
                            <h5>Renewable Energy Technology of Secrets</h5>
                        </div>
                    </div>
                </div>
                <div class="campaign">
                    <div class="thumb">
                        <img alt="thumb" src="/assets/img/thumbs/thumb-123.webp">
                    </div>
                    <div>
                        <div class="date">
                            <p>Cleaning - Feb 09, 2024</p>
                        </div>
                        <div class="name">
                            <h5>Nature’s Symphony: Exploring Ecology</h5>
                        </div>
                    </div>
                </div>
                <div class="campaign campaign-last">
                    <div class="thumb">
                        <img alt="thumb" src="/assets/img/thumbs/thumb-124.webp">
                    </div>
                    <div>
                        <div class="date">
                            <p>Forest - Jan 30, 2024</p>
                        </div>
                        <div class="name">
                            <h5>Grow with Us: Tree Planting Day</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-widget-wrap m-b-30">
            <div class="w-title">
                <h3>Categories</h3>
                <div class="bar-wrap">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                </div>
            </div>
            <div class="detail-list">
                <ul>
                    <li>
                        <a href="services.html">
                            Tree Plantation
                            <span class="icon"><i class="fa-regular fa-arrow-up-right"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            Forest Pollution
                            <span class="icon"><i class="fa-regular fa-arrow-up-right"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            Dust Recycling
                            <span class="icon"><i class="fa-regular fa-arrow-up-right"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            Cleaning Ocean
                            <span class="icon"><i class="fa-regular fa-arrow-up-right"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            Plant Seedlings
                            <span class="icon"><i class="fa-regular fa-arrow-up-right"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            Solar Power Solution
                            <span class="icon"><i class="fa-regular fa-arrow-up-right"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="s-widget-wrap m-b-30">
            <div class="w-title">
                <h3>Our Gallery</h3>
                <div class="bar-wrap">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                </div>
            </div>
            <div class="sidebar-gallery">
                <div class="thumb">
                    <img alt="thumb" src="/assets/img/thumbs/thumb-134.webp">
                </div>
                <div class="thumb">
                    <img alt="thumb" src="/assets/img/thumbs/thumb-131.webp">
                </div>
                <div class="thumb">
                    <img alt="thumb" src="/assets/img/thumbs/thumb-132.webp">
                </div>
                <div class="thumb">
                    <img alt="thumb" src="/assets/img/thumbs/thumb-133.webp">
                </div>
                <div class="thumb">
                    <img alt="thumb" src="/assets/img/thumbs/thumb-130.webp">
                </div>
                <div class="thumb">
                    <img alt="thumb" src="/assets/img/thumbs/thumb-129.webp">
                </div>
            </div>
        </div>
        <div class="s-widget-wrap">
            <div class="w-title">
                <h3>Share With Everyone</h3>
                <div class="bar-wrap">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                </div>
            </div>
            <div class="socials">
                <div class="social-links">
                    <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/"><i class="fab fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>