<!-- contact-info-section start -->
<section class="contact-info-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="contact-info-layout">
                    <a class="contact-info" href="mailto:info@cherivenfoundation.org">
                        <div class="icon-wrap">
                            <div class="icon-shape"></div>
                            <div class="icon">
                                <i class="fa-solid fa-paper-plane"></i>
                            </div>
                        </div>
                        <h3>info@cherivenfoundation.org</h3>
                        <p>Send a Email</p></a> <a class="contact-info active" href="tel:+2347065714529">
                        <div class="icon-wrap">
                            <div class="icon-shape"></div>
                            <div class="icon">
                                <i class="fa-solid fa-phone-arrow-up-right"></i>
                            </div>
                        </div>
                        <h3>+234 706 571 4529</h3>
                        <p>Any Time Call Us</p></a> <a class="contact-info" href="#">
                        <div class="icon-wrap">
                            <div class="icon-shape"></div>
                            <div class="icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                        </div>
                        <h3>Suite 111/125 El-Rufai Block, New Garki International Market, Abuja, Nigeria.</h3>
                        <p>Our Address</p></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-info-section end -->
