<!-- faq-section start -->
<section class="faq-section p-t-180 p-t-md-160 p-t-xs-140 p-b-120 p-b-md-100 p-b-xs-80" style="background-image: url(assets/img/bg/why-us-bg.webp)">
    <div class="container">
        <div class="row faq">
            <div class="col-xl-6" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <div class="accordion faq-accordion" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header"><button aria-controls="flush-collapseOne" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseOne" data-bs-toggle="collapse" type="button"><span class="accordion-title">1.</span>What is Cheriven Empowerment Foundation? <span class="icon"><span class="icon-plus"></span> <span class="icon-minus"></span></span></button></h2>
                        <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseOne">
                            <div class="accordion-body">
                                Cheriven Empowerment Foundation is a Nigeria-based non-profit, non-religious, and non-political organization dedicated to giving hope to the less privileged and vulnerable in society.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"><button aria-controls="flush-collapseTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseTwo" data-bs-toggle="collapse" type="button"><span class="accordion-title">2.</span>What are your main areas of focus? <span class="icon"><span class="icon-plus"></span> <span class="icon-minus"></span></span></button></h2>
                        <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseTwo">
                            <div class="accordion-body">
                                We focus on alleviating poverty and ensuring sustainable livelihoods for people with disabilities, widows, women in distress, and street children through vocational training and scholarships.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"><button aria-controls="flush-collapseThree" aria-expanded="false" class="accordion-button" data-bs-target="#flush-collapseThree" data-bs-toggle="collapse" type="button"><span class="accordion-title">3.</span>How can I support your mission? <span class="icon"><span class="icon-plus"></span> <span class="icon-minus"></span></span></button></h2>
                        <div class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample" id="flush-collapseThree">
                            <div class="accordion-body">
                                You can support us by donating to our programs, volunteering your skills, or becoming a partner. We work directly with rural communities to empower those striving for better lives.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"><button aria-controls="flush-collapseFour" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseFour" data-bs-toggle="collapse" type="button"><span class="accordion-title">4.</span>What programs can I donate to? <span class="icon"><span class="icon-plus"></span> <span class="icon-minus"></span></span></button></h2>
                        <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseFour">
                            <div class="accordion-body">
                                We have various rollng programs including Skills Acquisition, Back-to-school initiatives, SME empowerment, and direct support for widows and vulnerable children.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header"><button aria-controls="flush-collapseFive" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseFive" data-bs-toggle="collapse" type="button"><span class="accordion-title">5.</span>Where is your foundation located? <span class="icon"><span class="icon-plus"></span> <span class="icon-minus"></span></span></button></h2>
                        <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseFive">
                            <div class="accordion-body">
                                Our office is situated at Suite 111/125 El-Rufai Block, New Garki International Market, Abuja, Nigeria. We are committed to reaching even the most rural communities.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                <div class="common-subtitle">
                    <img alt="icon-2" src="assets/img/icons/icon-2.svg"> <span>Question & Answer</span>
                </div>
                <div class="common-title text-start">
                    <h2>Frequently Asked Question <span>?</span></h2>
                </div>
                <div class="text">
                    <p>Learn more about our commitment to peace, social justice, and sustainable development. We are here to answer your questions about our impact and how you can get involved.</p>
                </div>
                <div class="blog-btn">
                    <a class='e-primary-btn has-icon' href='/contact-us'>Have You Any Questions? <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></a>
                </div>
                <!-- <div class="top-right">
                    <img alt="authors" src="assets/img/authors/author-1.webp">
                    <div class="people-joined">
                        <h5>400+</h5><span>People Impacted</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- faq-section end -->
