<!-- footer-section start -->
<footer class="footer-section p-t-125 p-b-50 overflow-hidden" style="background-image: url(/assets/img/bg/footer-bg.webp)">
	<div class="container">
		<div class="row justify-content-between row-gap-md-5 row-gap-4 p-b-30">
			<div class="col-xl-4 col-lg-8 col-md-7">
				<div class="footer-widget">
					<div class="about-widget">
						<div class="footer-logo">
							<%- include('logo', { isFooter: true }) %>
						</div>
						<div class="text">
							<p>Cheriven Empowerment Foundation is dedicated to improving the lives of the less privileged and vulnerable in society through sustainable development and charity.</p>
						</div>
						<div class="info">
							<p><b>We Are Available !!</b></p>
							<p>Mon-Sat: <span>10:00am to 07:30pm</span></p>
						</div>
						<div class="social-links">
							<a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/"><i class="fab fa-x-twitter"></i></a> <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a> <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-5">
				<div class="footer-widget">
					<h3 class="w-title">Quick Links</h3>
					<ul>
						<li>
							<a href='/about'>About Us</a>
						</li>
						<li>
							<a href='/programs'>Our Programs</a>
						</li>
						<li>
							<a href='/donations'>Donate</a>
						</li>
						<li>
							<a href='/volunteers'>Volunteers</a>
						</li>
						<li>
							<a href='/contact'>Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-5">
				<div class="footer-widget">
					<h3 class="w-title">Our Programs</h3>
					<ul>
                        <%
                           const footerPrograms = locals.programs || locals.recentPrograms || [];
                           if (footerPrograms.length > 0) {
                               footerPrograms.slice(0, 6).forEach(function(program) {
                        %>
						<li>
							<a href='/programs/<%= program.slug || program.data.slug %>'><%= program.title || program.data.name %></a>
						</li>
                        <%     });
                           } else { %>
                        <li><a href="/programs">View All Programs</a></li>
                        <% } %>
					</ul>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="footer-widget">
					<h3 class="w-title">Newsletter</h3>
					<div class="subscribe-form">
						<form action="#">
							<div class="input-wrap">
								<input placeholder="Email Address" type="text">
							</div>
							<div class="input-button">
								<button class="e-primary-btn has-icon is-hover-white" type="submit">Subscribe Now <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></button>
							</div>
							<div class="input-checkbox">
								<input id="agree" type="checkbox"> <label for="agree"><span class="check-mark"></span> I agree the policy</label>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 text-center">
				<div class="footer-bottom-layout m-b-xs-40">
					<a class="e-primary-btn is-hover-white top-btn" href="#">Go Top <i class="fa-regular fa-arrow-up"></i></a>
					<div class="footer-copyright">
						© <%= new Date().getFullYear() %> Cheriven. All Rights Reserved.
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer-section end -->
