<!-- footer-section start -->
<footer class="footer-section p-t-125 p-b-50 overflow-hidden" style="background-image: url(/assets/img/bg/footer-bg.webp)">
	<div class="container">
		<div class="row justify-content-between row-gap-md-5 row-gap-4 p-b-30">
			<div class="col-xl-4 col-lg-8 col-md-7">
				<div class="footer-widget">
					<div class="about-widget">
						<div class="footer-logo">
							<a href='/'><img alt="logo" src="/assets/img/logo/logo-white.svg"></a>
						</div>
						<div class="text">
							<p>Introducing our team of talented and skilled professionals who are ready to increase your productivity and bring your business.</p>
						</div>
						<div class="info">
							<p><b>We Are Available !!</b></p>
							<p>Mon-Sat: <span>10:00am to 07:30pm</span></p>
						</div>
						<div class="social-links">
							<a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/"><i class="fab fa-x-twitter"></i></a> <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a> <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-5">
				<div class="footer-widget">
					<h3 class="w-title">Quick Links</h3>
					<ul>
						<li>
							<a href='about.html'>About Company</a>
						</li>
						<li>
							<a href='services.html'>Our Causes</a>
						</li>
						<li>
							<a href='camping-donation.html'>Investor Presentation</a>
						</li>
						<li>
							<a href='donations.html'>Pricing Plan</a>
						</li>
						<li>
							<a href='volunteer.html'>Meet Our Team</a>
						</li>
						<li>
							<a href='contact.html'>Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xl-2 col-lg-4 col-md-5">
				<div class="footer-widget">
					<h3 class="w-title">Our Services</h3>
					<ul>
						<li>
							<a href='camping-details.html'>Tree Plantation</a>
						</li>
						<li>
							<a href='camping-donation.html'>Forest Cleaning</a>
						</li>
						<li>
							<a href='services-details.html'>Plastic Recycling</a>
						</li>
						<li>
							<a href='project.html'>Natural Power</a>
						</li>
						<li>
							<a href='project.html'>Renewable Energy</a>
						</li>
						<li>
							<a href='project-details.html'>Water Refine</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="footer-widget">
					<h3 class="w-title">Newsletter</h3>
					<div class="subscribe-form">
						<form action="#">
							<div class="input-wrap">
								<input placeholder="ashikulislambsl@gmail.com" type="text">
							</div>
							<div class="input-button">
								<button class="e-primary-btn has-icon is-hover-white" type="submit">Subscribe Now <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></button>
							</div>
							<div class="input-checkbox">
								<input id="agree" type="checkbox"> <label for="agree"><span class="check-mark"></span> I agree the policy</label>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12 text-center">
				<div class="footer-bottom-layout m-b-xs-40">
					<a class="e-primary-btn is-hover-white top-btn" href="#">Go Top <i class="fa-regular fa-arrow-up"></i></a>
					<div class="footer-copyright">
						© 2025 Econest. All Rights Reserved.
					</div>
					<div class="footer-bottom-menu">
						<ul>
							<li>
								<a href='contact.html'>Privacy Policy</a>
							</li>
							<li>
								<a href='contact.html'>Privacy Policy</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer-section end -->