<header class="header-section-4">
	<!-- <div class="top-bar d-none d-md-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-12">
					<div class="top-bar-content text-center">
						<div class="text-wrap">
							<img src="assets/img/icons/calendar-time.svg" alt="icon"/>
							<span>Join Our Event (28 Nov, 2024) New Market, California.</span>
						</div>
						<a class='e-primary-btn is-hover-white top-btn top-btn-2' href='/econest/donations'>
							Join Event
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="header-bottom-layout">
						<div class="header-left-2">
							<div class="logo-wrap">
								<a href="/">
									<img src="/cheriven-logo.png" alt="logo" width="80" height="80"/>
								</a>
							</div>
							<div class="header-divider-bar d-none d-xxl-block"></div>
							<nav class="main-menu d-none d-xl-block">
								<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/about-us">Who we are?</a></li>
									<li><a href="/programs">Programs</a></li>
									<li><a href="/volunteers">Volunteers</a></li>
									<li><a href="/gallery">Gallery</a></li>
									<li><a href="/blog">Blog</a></li>
									<li><a href="/contact-us">Contact Us</a></li>
								</ul>
							</nav>
						</div>
						<div class="header-right">
							<div class="header-info d-none d-xl-flex">
								<div class="header-info-icon">
									<i class="fa-regular fa-phone-volume"></i>
								</div>
								<div class="header-info-content">
									<span>Contact Us!</span>
									<p><a href="tel:+2347065714529">+234 706 571 4529</a></p>
								</div>
							</div>
							<div class="header-bar open-mobile-menu d-xl-none" data-toggle="menubar">
								<div class="bar bar-1"></div>
								<div class="bar bar-2"></div>
								<div class="bar bar-3"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>