<!-- header-section start -->
<header class="header-section-1">
	<div class="top-bar d-none d-md-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-12">
					<div class="top-bar-content text-center">
						<div class="text-wrap">
							<img src="assets/img/icons/calendar-time.svg" alt="icon"/>
							<span>Join Our Event (28 Nov, 2024) New Market, California.</span>
						</div>
						<a class='e-primary-btn is-hover-white top-btn' href='donations.html'>
							Donate Now
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-bottom-layout-2">
		<div class="header-left">
			<div class="logo-wrap-2">
				<a href='index.html'>
					<img src="assets/img/logo/logo-white.svg" alt="logo"/>
				</a>
			</div>
		</div>
		<div class="w-100 d-none d-xl-block">
			<div class="header-middle">
				<nav class="main-menu-2 d-none d-xl-block">
					<ul>
						<li class="has-dropdown">
							<a href="#">Home</a>
							<ul class="sub-menu">
								<li><a href='index.html'>Home 01</a></li>
								<li><a href='index-2.html'>Home 02</a></li>
								<li><a href='index-3.html'>Home 03</a></li>
								<li><a href='index-4.html'>Home 04</a></li>
								<li><a href='index-5.html'>Home 05</a></li>
							</ul>
						</li>
						<li><a href='about.html'>Who we are?</a></li>
						<li><a href='services.html'>Services</a></li>
						<li class="has-dropdown">
							<a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href='services-details.html'>Services Details</a></li>
								<li><a href='project.html'>Projects</a></li>
								<li><a href='project-details.html'>Project Details</a></li>
								<li><a href='camping.html'>Camping</a></li>
								<li><a href='camping-details.html'>Camping Details</a></li>
								<li><a href='camping-donation.html'>Camping Donation</a></li>
								<li><a href='donations.html'>Donation</a></li>
								<li><a href='be-volunteer.html'>Become a Volunteer</a></li>
								<li><a href='volunteer.html'>Volunteers</a></li>
								<li><a href='volunteer-details.html'>Volunteer Details</a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="#">Blog</a>
							<ul class="sub-menu">
								<li><a href='blog-grid.html'>Blog Grid</a></li>
								<li><a href='blog-standard.html'>Blog Standard</a></li>
								<li><a href='blog-details.html'>Blog Details</a></li>
							</ul>
						</li>
						<li><a href='contact.html'>Contact Us</a></li>
					</ul>
				</nav>
				<div class="header-info-wrap">
					<div class="header-info-3 d-none d-xl-flex">
						<div class="header-info-icon">
							<i class="fa-regular fa-phone-volume"></i>
						</div>
						<div class="header-info-content">
							<span>Contact Us!</span>
							<p><a href="tel:+1629555-0129">+1 (629) 555-0129</a></p>
						</div>
					</div>
					<div class="header-btn-wrap d-none d-xl-flex">
						<a class='e-primary-btn has-icon' href='about.html'>
							Explore More
							<span class="icon-wrap">
								<span class="icon">
									<i class="fa-regular fa-arrow-right"></i>
									<i class="fa-regular fa-arrow-right"></i>
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="header-right">
			<div class="header-bar-3 d-none d-xl-flex" data-toggle="sidebar">
				<div class="bar bar-1"></div>
				<div class="bar bar-2"></div>
				<div class="bar bar-3"></div>
			</div>
			<div class="header-bar-3 d-xl-none" data-toggle="menubar">
				<div class="bar bar-1"></div>
				<div class="bar bar-2"></div>
				<div class="bar bar-3"></div>
			</div>
		</div>
	</div>
</header>
<!-- header-section end -->