<!-- header-section start -->
<header class="header-section">
	<div class="top-bar d-none d-md-block">
		<div class="container-fluid">
			<!-- <div class="row">
				<div class="col-xl-12">
					<div class="top-bar-content text-center">
						<a class='e-primary-btn is-hover-white top-btn' href='/donations'>Donate Now</a>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<div class="header-bottom">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-12">
					<div class="header-bottom-layout">
						<div class="header-left">
							<div class="logo-wrap">
								<%- include('logo', { isFooter: false }) %>
							</div>
							<nav class="main-menu d-none d-xl-block">
								<ul>
									<li>
										<a href="/">Home</a>
									</li>
									<li><a href='/about-us'>Who we are?</a></li>
									<li><a href='/programs'>Programs</a></li>
									<li><a href='/volunteers'>Volunteers</a></li>
									<li><a href='/gallery'>Gallery</a></li>
									<li>
										<a href="/blog">Blog</a>
									</li>
									<li><a href='/contact-us'>Contact Us</a></li>
								</ul>
							</nav>
						</div>
						<div class="header-right">
							<div class="header-info d-none d-xl-flex">
								<div class="header-info-icon">
									<i class="fa-regular fa-phone-volume"></i>
								</div>
								<div class="header-info-content">
									<span>Contact Us!</span>
									<p><a href="tel:+2347065714529">+234 706 571 4529</a></p>
								</div>
							</div>
							<!-- <div class="header-btn-wrap d-none d-xl-flex">
								<a class='e-primary-btn has-icon' href='/donations'>
									Donate
									<span class="icon-wrap">
                                        <span class="icon">
                                            <i class="fa-regular fa-arrow-right"></i>
                                            <i class="fa-regular fa-arrow-right"></i>
                                        </span>
                                    </span>
								</a>
							</div> -->
							<div class="header-bar open-sidebar d-none d-xl-flex" data-toggle="sidebar">
								<div class="bar bar-1"></div>
								<div class="bar bar-2"></div>
								<div class="bar bar-3"></div>
							</div>
							<div class="header-bar open-mobile-menu d-xl-none" data-toggle="menubar">
								<div class="bar bar-1"></div>
								<div class="bar bar-2"></div>
								<div class="bar bar-3"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- header-section end -->
