<!-- company-achievements-section start -->
<section class="company-achievements-section m-t-60">
    <div class="container">
        <div class="company-achievements" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
            <div class="achievement">
                <i class="fa-light fa-chart-mixed"></i>
                <h2>
                    <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="98">0</span>%
                </h2>
                <p>Company Success</p>
            </div>
            <div class="achievement">
                <i class="fa-light fa-lightbulb-exclamation-on"></i>
                <h2>
                    <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="565">0</span>+
                </h2>
                <p>Company Strategies</p>
            </div>
            <div class="achievement">
                <i class="fa-light fa-thumbs-up"></i>
                <h2>
                    <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="36.2">0</span>k
                </h2>
                <p>Complete Projects</p>
            </div>
            <div class="achievement">
                <i class="fa-light fa-users-medical"></i>
                <h2>
                    <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="100">0</span>+
                </h2>
                <p>Experienced Members</p>
            </div>
        </div>
    </div>
</section>

<!-- company-achievements-section end -->