<!-- company-achievements-section start -->
<section class="company-achievements-section m-t-60">
    <div class="container">
        <div class="company-achievements" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
            <div class="achievement">
                <i class="fa-light fa-users"></i>
                <h2>
                    <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="400">0</span>+
                </h2>
                <p>People Impacted</p>
            </div>
            <div class="achievement">
                <i class="fa-light fa-hand-holding-heart"></i>
                <h2>
                    $<span class="purecounter" data-purecounter-duration="2" data-purecounter-end="28">0</span>k+
                </h2>
                <p>Funds Raised</p>
            </div>
            <div class="achievement">
                <i class="fa-light fa-circle-check"></i>
                <h2>
                    <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="5">0</span>+
                </h2>
                <p>Projects Completed</p>
            </div>
            <div class="achievement">
                <i class="fa-light fa-users-medical"></i>
                <h2>
                    <span class="purecounter" data-purecounter-duration="2" data-purecounter-end="9">0</span>+
                </h2>
                <p>Dedicated Volunteers</p>
            </div>
        </div>
    </div>
</section>

<!-- company-achievements-section end -->
