<!-- hero-section start -->
<section class="hero-slider-active-1">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="hero-side" style="background-image: url(images/hero-bg-1.jpeg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-content-1">
                                    <div class="subtitle" data-animation="animate__fadeInUp" data-delay="0.3s">
                                        <img src="assets/img/icons/icon-1.svg" alt="icon-1" />
                                        <span>Let's Go Save Environment</span>
                                    </div>
                                    <div class="title" data-animation="animate__fadeInUp" data-delay="0.4s">
                                        <h1>
                                            Igniting Hope,  <span>One Life at a Time</span>
                                        </h1>
                                    </div>
                                    <div class="text" data-animation="animate__fadeInUp" data-delay="0.5s">
                                        <p>
                                            In the heart of Nigeria, where vulnerability meets resilience, Cheriven Empowerment Foundation stands as a beacon of hope. 
                                        </p>
                                    </div>
                                    <div class="join-us" data-animation="animate__fadeInUp" data-delay="0.6s">
                                        <a class='e-primary-btn has-icon' href='donations.html'>
                                            Join Us Today
                                            <span class="icon-wrap"><span class="icon"><i
                                                        class="fa-regular fa-arrow-right"></i><i
                                                        class="fa-regular fa-arrow-right"></i></span></span>
                                        </a>
                                        <!-- <div class="author-wrap">
                                            <img src="assets/img/authors/author-1.webp" alt="authors" />
                                            <div class="author-info">
                                                <h5>122.6k+</h5>
                                                <p>Team Members</p>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-shape-1">
                        <img src="assets/img/shapes/group-shape-1.webp" alt="group-shape-1" />
                    </div>
                    <div class="s-shape-1">
                        <img src="assets/img/shapes/shape-2.webp" alt="s-shape-1" />
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero-side" style="background-image: url(/images/hero-bg-2.jpeg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-content-1">
                                    <div class="subtitle" data-animation="animate__fadeInUp" data-delay="0.3s">
                                        <img src="assets/img/icons/icon-1.svg" alt="icon-1" />
                                        <span>Let’s Act for Nature’s Future</span>
                                    </div>
                                    <div class="title" data-animation="animate__fadeInUp" data-delay="0.4s">
                                        <h1>
                                            Empowering Communities, Building 
                                            <span>Sustainable Futures</span>
                                        </h1>
                                    </div>
                                    <div class="text" data-animation="animate__fadeInUp" data-delay="0.5s">
                                        <p>
                                            Poverty isn't just a lack of money; it's a lack of opportunity. At Cheriven, we tackle this head-on. Through vocational training, skills acquisition, scholarships, and graduate support, we equip individuals with the tools they need to build lasting, self-sufficient livelihoods.
                                        </p>
                                    </div>
                                    <div class="join-us" data-animation="animate__fadeInUp" data-delay="0.6s">
                                        <a class='e-primary-btn has-icon' href='donations.html'>
                                            Become One Today
                                            <span class="icon-wrap"><span class="icon"><i
                                                        class="fa-regular fa-arrow-right"></i><i
                                                        class="fa-regular fa-arrow-right"></i></span></span>
                                        </a>
                                        <!-- <div class="author-wrap">
                                            <img src="assets/img/authors/author-1.webp" alt="authors" />
                                            <div class="author-info">
                                                <h5>122.6k+</h5>
                                                <p>Earth Helpers</p>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-shape-1">
                        <img src="assets/img/shapes/group-shape-1.webp" alt="group-shape-1" />
                    </div>
                    <div class="s-shape-1">
                        <img src="assets/img/shapes/shape-2.webp" alt="s-shape-1" />
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero-side" style="background-image: url(images/giving-2.jpeg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-content-1">
                                    <div class="subtitle" data-animation="animate__fadeInUp" data-delay="0.3s">
                                        <img src="assets/img/icons/icon-1.svg" alt="icon-1" />
                                        <span>Let's Go Save Environment</span>
                                    </div>
                                    <div class="title" data-animation="animate__fadeInUp" data-delay="0.4s">
                                        <h1>
                                            A Future Built on Peace,  <span>Justice & Mutual Respect</span>
                                        </h1>
                                    </div>
                                    <div class="text" data-animation="animate__fadeInUp" data-delay="0.5s">
                                        <p>
                                            The implant fixture is first placed, so that it
                                            ilikely to then a dental prosthetic is added then
                                            dental prosthetic.
                                        </p>
                                    </div>
                                    <div class="join-us" data-animation="animate__fadeInUp" data-delay="0.6s">
                                        <a class='e-primary-btn has-icon' href='donations.html'>
                                            Join Us Today
                                            <span class="icon-wrap"><span class="icon"><i
                                                        class="fa-regular fa-arrow-right"></i><i
                                                        class="fa-regular fa-arrow-right"></i></span></span>
                                        </a>
                                        <!-- <div class="author-wrap">
                                            <img src="assets/img/authors/author-1.webp" alt="authors" />
                                            <div class="author-info">
                                                <h5>122.6k+</h5>
                                                <p>Team Members</p>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-shape-1">
                        <img src="assets/img/shapes/group-shape-1.webp" alt="group-shape-1" />
                    </div>
                    <div class="s-shape-1">
                        <img src="assets/img/shapes/shape-2.webp" alt="s-shape-1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider-pagination-1"></div>
    <div class="hero-slider-social">
        <div class="social-links">
            <a href="https://facebook.com/">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/">
                <i class="fab fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://linkedin.com/">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <div class="text">Join Social:</div>
    </div>
</section>
<!-- hero-section end -->