<!-- off-canvas-sidebar start -->
<div class="off-canvas-sidebar">
	<div class="off-canvas-sidebar-body">
		<div class="off-canvas-sidebar-close" data-close="sidebar">
			<i class="fa-regular fa-xmark"></i>
		</div>
		<div class="off-canvas-logo m-b-20">
			<a href='index.html'>
				<img src="assets/img/logo/logo.svg" alt="logo"/>
			</a>
		</div>
		<div class="off-canvas-text m-b-30">
			<p>
				Ratione doloribus optio minus cum ab. Nostrum rerum minus sapiente
				eveniet fuga quos tenetur Bicycle rights taxidermy knausgaard, 3
				wolf moon schlitz kombucha freegan ugh ethical kogi Déjà en
				recherche de nouvelle inspiration pour la prochaine collection, qui
				sera toujours inspirée de ses origines suisses de son savoir-faire
				an nouveau matériel arrive!
			</p>
		</div>
		<div class="off-canvas-thumb m-b-40">
			<img src="assets/img/thumbs/thumb-3.webp" alt="thumb"/>
		</div>
		<div class="off-canvas-contact m-b-40">
			<a href="#" class="off-canvas-contact-item">
				<div class="icon">
					<i class="fa-solid fa-location-dot"></i>
				</div>
				<div class="text">
					<h6>Address</h6>
					<p>Jones Street, New York, USA</p>
				</div>
			</a>
			<a href="mailto:support@example.com" class="off-canvas-contact-item">
				<div class="icon">
					<i class="fa-solid fa-paper-plane"></i>
				</div>
				<div class="text">
					<h6>Email</h6>
					<p>Support@example.com</p>
				</div>
			</a>
			<a href="tel:+70264566579" class="off-canvas-contact-item">
				<div class="icon">
					<i class="fa-solid fa-phone-arrow-up-right"></i>
				</div>
				<div class="text">
					<h6>Phone</h6>
					<p>+70 264 566 579</p>
				</div>
			</a>
		</div>
		<div class="off-canvas-social-links">
			<a href="https://facebook.com/">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="https://twitter.com/">
				<i class="fab fa-x-twitter"></i>
			</a>
			<a href="https://www.instagram.com/">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://linkedin.com/">
				<i class="fab fa-linkedin-in"></i>
			</a>
		</div>
	</div>
	<div class="off-canvas-sidebar-overlay" data-close="sidebar"></div>
</div>
<!-- off-canvas-sidebar end -->