<!-- off-canvas-menubar start -->
<div class="off-canvas-menubar">
    <div class="off-canvas-menubar-body">
        <div class="off-canvas-head">
            <div class="off-canvas-logo">
                <a href="/">
                    <img src="/cheriven-logo.png" alt="logo" width="70" height="70"/>
                </a>
            </div>
            <div class="off-canvas-menubar-close" data-close="menubar">
                <i class="fa-regular fa-xmark"></i>
            </div>
        </div>

        <div class="off-canvas-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">Who we are?</a></li>
                <li><a href="/programs">Programs</a></li>
                <li><a href="/volunteers">Volunteers</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="off-canvas-menubar-overlay" data-close="menubar"></div>
</div>
<!-- off-canvas-menubar end -->
