<!-- major-partners start -->
<section class="major-partners p-t-80 p-b-140 p-b-lg-120 p-b-md-100 p-b-xs-80">
    <div class="container">
        <div class="partners-title" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
            <div class="line-right"><img alt="shape-4" src="assets/img/shapes/shape-4.webp"></div>
            <h3>Major Partners</h3>
            <div class="line"><img alt="shape-4" src="assets/img/shapes/shape-4.webp"></div>
        </div>
        <div class="row p-t-60 p-b-60">
            <div class="col-xl-12">
                <div class="partner-marquee">
                    <div class="partner-marquee-layout">
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-2.webp"></div>
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-3.webp"></div>
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-4.webp"></div>
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-5.webp"></div>
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-6.webp"></div>
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-7.webp"></div>
                    </div>
                    <div class="partner-marquee-layout">
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-2.webp"></div>
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-3.webp"></div>
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-4.webp"></div>
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-5.webp"></div>
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-6.webp"></div>
                        <div class="partner-1"><img alt="partner-logo" src="assets/img/logo/logo-7.webp"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="partner-btn text-center" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
            <a class='e-primary-btn has-icon' href='/contact-us'>
                Become a Partner
                <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span>
            </a>
        </div>
    </div>
</section>
<!-- major-partners end -->
