<section class="breadcrumb-section">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-xl-6 col-lg-6">
                <div class="breadcrumb-content" style="background-image: url(/assets/img/bg/breadcrumb-bg.webp)">
                    <div class="breadcrumb-nav" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                        <ul>
                            <li>
                                <a href='/'>Home</a>
                            </li>
                            <li>
                                <a href="#">Gallery</a>
                            </li>
                        </ul>
                    </div>
                    <div class="breadcrumb-title" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                        <h2>Our Gallery</h2>
                    </div>
                    <div class="shape-1"><img alt="shape" src="/assets/img/shapes/shape-1.webp"></div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                <div class="breadcrumb-thumb"><img alt="thumb" src="/assets/img/thumbs/thumb-1.webp"></div>
            </div>
        </div>
    </div>
</section>
