<%
// The handler passes 'data' which is the array of volunteers
const volunteers = locals.data || [];
console.log("This is the volunteers from ejs", volunteers);
%>

<%- include('../../components/shared/breadcrumb', { title: 'We Are Friends', crumbs: [{text: 'Home', href: '/'}, {text: 'Volunteers', href: '#'}] }) %>

<!-- volunteer-section start -->
<section class="volunteer-section p-t-100">
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
            <% if(volunteers && volunteers.length > 0) { %>
                <% volunteers.forEach(function(volunteer) { %>
                    <%- include('../../components/volunteers/card', { data: volunteer }) %>
                <% }); %>
            <% } else { %>
                <div class="col-12 text-center"><p>No volunteers found at the moment.</p></div>
            <% } %>
        </div>
    </div>
</section>
<!-- volunteer-section end -->

<%- include('../../components/volunteers/cta') %>
